# App settings:
# Set to True for local development, False for production
DEBUG=False

# POSTGRES:
# For local dev: localhost, for Docker: db
DB_HOST=db
DB_NAME=payment_service_db
DB_USERNAME=test_user
DB_PASSWORD=postgres2084
DB_PORT=5432

# Predefined users for seeding (created by migration):
SEED_ADMIN_EMAIL=admin@admin.com
SEED_ADMIN_PASSWORD=@lmightYAdmin42
SEED_USER_EMAIL=user@user.com
SEED_USER_PASSWORD=Not@lam1ghtyAtAll

# Secrets:
# Payment webhook signature secret key
PAYMENT_SECRET_KEY=ZvpFvcFcRfy0Vw4tHOBk7rHk_3Fk-mO6da5siB7ek_8
# JWT token signing secret key
JWT_SECRET_KEY=sCc0fTCzUPv8X8m2eO8qbjKcLTwq43VW0kNtyMU9PYs

# Metadata:
APP_DESCRIPTION=Test task for Python Developer vacancy.
APP_TITLE=Payment Service
