# App settings:
# Set to True for local development, False for production
DEBUG=False

# POSTGRES:
# For local dev: localhost, for Docker: db
DB_HOST=localhost
DB_NAME=payment_service_db
DB_USERNAME=test_user
DB_PASSWORD=your_secure_password_here
DB_PORT=5435

# Predefined users for seeding
SEED_ADMIN_EMAIL=admin@admin.com
SEED_ADMIN_PASSWORD=choose_a_strong_admin_password
SEED_USER_EMAIL=user@user.com
SEED_USER_PASSWORD=choose_a_user_password

# Secrets:
PAYMENT_SECRET_KEY=your_payment_secret_key_here
JWT_SECRET_KEY=your_jwt_secret_key_here

# Metadata:
APP_DESCRIPTION="Test task for Python Developer vacancy."
APP_TITLE="Payment Service"